<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="rahmenwerk" sequenceNumber="61">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="de.bsvrz.buv.rw.bitctrl.feature.feature.group" version="0.0.0"/>
<unit id="de.bsvrz.iav.fuzzylib.feature.feature.group" version="0.0.0"/>
<unit id="de.bsvrz.iav.gllib.feature.feature.group" version="0.0.0"/>
<unit id="de.bsvrz.ibv.uda.feature.feature.group" version="0.0.0"/>
<unit id="de.bsvrz.puk.param.lib.feature.feature.group" version="0.0.0"/>
<unit id="de.bsvrz.sys.funclib.bitctrl.feature.feature.group" version="0.0.0"/>
<unit id="de.bsvrz.sys.funclib.dynobj.feature.feature.group" version="0.0.0"/>
<repository location="http://bitctrl.de/projekte/lose_rw3.0/updatesite"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="de.bsvrz.buv.rw.rw.berechtigungen.feature.feature.group" version="0.0.0"/>
<unit id="de.bsvrz.buv.rw.rw.core.feature.feature.group" version="0.0.0"/>
<unit id="de.bsvrz.buv.rw.rw.einstellungen.feature.feature.group" version="0.0.0"/>
<repository location="http://bitctrl.de/projekte/rw3.0/updatesite"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.ecore.feature.group" version="2.12.0.v20160420-0247"/>
<unit id="org.eclipse.platform.feature.group" version="4.6.3.v20170301-0400"/>
<repository location="http://download.eclipse.org/releases/neon/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.cdatetime.feature.feature.group" version="1.0.0.201706221838"/>
<repository location="http://download.eclipse.org/nebula/releases/latest"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="de.bsvrz.buv.daf.feature.feature.group" version="3.9.2"/>
<unit id="de.bsvrz.buv.vew.feature.feature.group" version="1.2.7"/>
<repository location="http://www.bitctrl.de/projekte/kernsoftware/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.bitctrl" version="2.0.2"/>
<unit id="com.fasterxml.jackson.core.jackson-annotations" version="2.9.1"/>
<unit id="com.fasterxml.jackson.core.jackson-core" version="2.9.1"/>
<unit id="com.fasterxml.jackson.core.jackson-databind" version="2.9.1"/>
<unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-base" version="2.9.1"/>
<unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-json-provider" version="2.9.1"/>
<unit id="com.fasterxml.jackson.module.jackson-module-jaxb-annotations" version="2.8.4"/>
<unit id="com.nimbusds.srp6a" version="1.0.0"/>
<unit id="de.bsvrz.dav.daf" version="3.9.2"/>
<unit id="de.bsvrz.sys.startstopp.api" version="2.0.0.201710240943"/>
<unit id="javassist" version="3.22.0.CR2"/>
<unit id="javax.annotation-api" version="1.2.0"/>
<unit id="javax.servlet-api" version="3.1.0"/>
<unit id="javax.validation.api" version="1.1.0.Final"/>
<unit id="javax.ws.rs-api" version="2.1.0"/>
<unit id="json" version="20170516.0.0"/>
<unit id="org.apache.commons.codec" version="1.6.0"/>
<unit id="org.apache.commons.lang" version="2.6.0"/>
<unit id="org.eclipse.jetty.continuation" version="9.4.3.v20170317"/>
<unit id="org.eclipse.jetty.http" version="9.4.3.v20170317"/>
<unit id="org.eclipse.jetty.io" version="9.4.3.v20170317"/>
<unit id="org.eclipse.jetty.server" version="9.4.3.v20170317"/>
<unit id="org.eclipse.jetty.util" version="9.4.3.v20170317"/>
<unit id="org.glassfish.hk2.api" version="2.5.0.b42"/>
<unit id="org.glassfish.hk2.external.aopalliance-repackaged" version="2.5.0.b42"/>
<unit id="org.glassfish.hk2.external.javax.inject" version="2.5.0.b42"/>
<unit id="org.glassfish.hk2.locator" version="2.5.0.b42"/>
<unit id="org.glassfish.hk2.osgi-resource-locator" version="1.0.1"/>
<unit id="org.glassfish.hk2.utils" version="2.5.0.b42"/>
<unit id="org.glassfish.jersey.containers.jersey-container-jetty-http" version="2.26.0"/>
<unit id="org.glassfish.jersey.core.jersey-client" version="2.26.0"/>
<unit id="org.glassfish.jersey.core.jersey-common" version="2.26.0"/>
<unit id="org.glassfish.jersey.core.jersey-server" version="2.26.0"/>
<unit id="org.glassfish.jersey.ext.jersey-entity-filtering" version="2.26.0"/>
<unit id="org.glassfish.jersey.inject.jersey-hk2" version="2.26.0"/>
<unit id="org.glassfish.jersey.media.jersey-media-jaxb" version="2.26.0"/>
<unit id="org.glassfish.jersey.media.jersey-media-json-jackson" version="2.26.0"/>
<repository location="http://bitctrl.de/projekte/bitctrl_common"/>
</location>
</locations>
</target>
