<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <e4view
            allowMultiple="false"
            name="StartStopp"
            class="de.bsvrz.buv.plugin.startstopp.views.StartStoppView"
            restorable="true"
            id="de.bsvrz.buv.plugin.startstopp.view">
      </e4view>
   </extension>

</plugin>
