<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <e4view
            allowMultiple="false"
            class="de.bsvrz.buv.plugin.startstopp.views.StartStoppView"
            icon="icons/term_restart.gif"
            id="de.bsvrz.buv.plugin.startstopp.view"
            name="StartStopp"
            restorable="true">
      </e4view>
   </extension>

</plugin>
